
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100 vh;
}

.calculator{
    background-color: #22252d;
    width: 100%;
    max-width: 375 px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow:hidden;
}

.display{
    min-height: 200px;
    padding: 1.5 rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    text-align: right;
    flex: 1 1 0%;
}

